[submodule "core/dependencies/jbms-parser"]
	path = core/dependencies/jbms-parser
	url = https://github.com/seraxis/jbms-parser
[submodule "core/dependencies/jbmstable-parser"]
	path = core/dependencies/jbmstable-parser
	url = https://github.com/seraxis/jbmstable-parser
[submodule "core/dependencies/JLR2ArenaEx"]
	path = core/dependencies/JLR2ArenaEx
	url = git@github.com:Catizard/JLR2ArenaEx.git
